<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">

    <!--configure registry center -->
    <!--配置注册中心，namespace非常重要，通过控制台管理时，名字公司必须一致，否则，看不到你想要的信息 -->
    <reg:zookeeper id="regCenter" server-lists="zookeeper:2181" namespace="wealth-job" base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />

    <!--configure job -->
    <!--<job:simple id="wealthElasticJobDemo"  class="com.example.demo.WealthElasticJobDemo" description="定时任务Demo" registry-center-ref="regCenter" cron="*/40 */1 * * * ?" sharding-total-count="1"/>-->

    <bean id="wealthElasticJobDemo2" class="com.example.demo.WealthElasticJobDemo2" >
        <property name="data" value="hello,job"/>
    </bean>

    <!--configure job -->
    <job:simple id="wealthElasticJobDemo2Job"  job-ref="wealthElasticJobDemo2" registry-center-ref="regCenter" cron="0/1 * * * * ?"
                description="复杂对象配置的job demo" sharding-total-count="3" sharding-item-parameters="0=A,1=B,2=C"/>


</beans>